*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

h1{
    text-align: center;
    color: white;
    padding: 170px;
    background-image: url("/assets/ceu.jpg");
}

h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #caf;
    margin-top: 5px;
}

p{
    font-size: 20px;
    margin: 30px;
}

ul{
    margin: left 35px;
    list-style:none;
}

li{
    font-size:23px;
    margin-top:10px
}

a{
    text-decoration: none;
    text-align: center;
    color: #25740d;
    display: block;
    font-size: 30px;
    margin:10px 30px;
    background-color: #F0F0F0;
    padding: 20px;
    font-weight: 400;
}

a:hover{
    color: white;
    background-color: #25740d;
    font-size: 40px;
}

#link {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    margin: 10px 30px;
}

footer{
    background-color:#25740d;
    margin-top: 40px;
    color: white;
    padding: 30px;
}

h2, h3{
    margin: 30px;
}

img{
    width: 300px;
    display: block;
    margin: 60px auto;
    border: 7px solid #000000;
}